# Build directory
build/

# CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled files
*.a
*.o
*.obj
*.exe
*.out
*.app

# IDE-specific files
.vscode/
.idea/
*.swp
*~
.VSCodeCounter/

# CUDA-specific
*.ptx

# Python-specific
__pycache__/
*.pyc